@model IEnumerable<DabHandIn2.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Course ID
            </th>
            <th>
                Course Name
            </th>
            <th>
                Teachers
            </th>
            <th>
                Exercises
            </th>
            <th>
                Assignments
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var teacher in item.Teachers)
                {
                    @Html.DisplayFor(modelItem => teacher.Name)
                    <br />
                }
            </td>
            <td>
                @foreach (var exercise in item.Exercises)
                {
                    @Html.DisplayFor(modelItem => exercise.Lecture)
                    @Html.DisplayFor(modelItem => exercise.Number)
                    <br />
                }
            </td>
            <td>
                @foreach (var assignment in item.Assignments)
                {
                    @Html.DisplayFor(modelItem => assignment.Name)
                    <br />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
