@model IEnumerable<DabHandIn2.Models.Teacher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Teachers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.auId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.auId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.auId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.auId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.auId">Delete</a> |
                <a asp-controller="HelpRequests" asp-action="CourseHelpRequests" asp-route-CourseId="@item.CourseId">View help requests</a>
            </td>
        </tr>
}
    </tbody>
</table>
