@model IEnumerable<DabHandIn2.Models.Exercise>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Student> students = (List<Student>) ViewData["Emails"];
}

<h1>Exercises</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Lecture
            </th>
            <th>
                Number
            </th>
            <th>
                Student email
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Lecture)
            </td>
            <td>
                @Html.DisplayFor(model => item.Number)
            </td>
            <td>
                @students.Find(s => s.auId == item.StudentauId).Email
            </td>
            <td>
                <a asp-action="Delete" asp-route-lecture="@item.Lecture" asp-route-number="@item.Number">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
